@import "@/scss/_variables.scss";
@mixin base-style {

	body {
		font-family: map-get($font, "main-family");
		background-color: map-get($colors, "dark");
	}

	#app {
		position: absolute;
	  width: 100vw;
	  left:0px;
	  top: 0px;
	  padding: 0px;
	}

	.user {
	  color: map-get($colors, "bright");
	  display: block;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	  z-index: 100;
	  padding: 4px;
	}

	.user-name {
		font-weight: bold;
	}

	img {
	  max-width: 100%;
	}
}

@mixin link-style {
	a.router-link-exact-active {
		font-weight: bold;
		color: map-get($colors, "dark");
	}

	a {
		padding-left: 2px;
		padding-right: 2px;
		color: map-get($colors, "dark");
		background-color: map-get($colors, "highlight");
	}
}
