name: "anu-website"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up -d
      - name: Django tests
        run: |
          docker-compose exec -T server python manage.py collectstatic --noinput
          docker-compose exec -T server python manage.py migrate
          docker-compose exec -T server python manage.py test
